<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Himadascareer</title>
</head>
<body>
    <h1>Himadas-career</h1>
    <p>In April 2018, Das competed in the 2018 Commonwealth Games at Gold Coast, Australia, in the 400 metres <br>
        and the 4×400 metres relay.[3][14]On 12 July 2018, Das won the 400 m final at the World U-20<br>
        Championships 2018 held at Tampere, Finland, clocking 51.46 seconds and becoming the first Indian sprinter to win <br>
        a gold medal at an international track event.[15]<br>  
    </p>
    <img src="https://im.indiatimes.in/content/2019/Jul/hima_das_1562563813_725x725.jpg"style='width: 500px;'><br>
    <a href="{% url 'sports1:Himadas'%}">navigate Himadas</a><br>
    <a href="{%url 'sports2:PTushacareer'%}">Navigate to PTushacareer</a><br>
    <a href="{%url  'sports2:PTusha'%}">Navigate to PTusha</a><br>   
</body>
</html>