<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Himadas</title>
</head>
<body>
    <h1>Himadas</h1>
    <p>Hima Das (born 9 January 2000), nicknamed Dhing Express,[7] is an <br>
    Indian sprinter from the state of Assam. She holds the current Indian national record in 400 meters <br>
    with a timing of 50.79 s that she clocked at the 2018 Asian Games in Jakarta, Indonesia. <br>
    She is the first Indian athlete to win a gold medal in a track event at the IAAF World U20 Championships.<br>
   She was appointed as a Deputy Superintendent of Police (DSP) in Assam Police[8] under the state's Integrated Sport Policy.[citation needed]<br>
    </p>
    <img src="https://im.indiatimes.in/content/2019/Jul/hima_das_1562563813_725x725.jpg" style="width: 500px;"><br>
    <a href="{% url 'sports1:Himadascareer'%}">Navigate to Himadascareer</a>
    <a href="{%url 'sports2:PTushacareer'%}">Navigate to PTushacareer</a><br>
    <a href="{%url  'sports2:PTusha'%}">Navigate to PTusha</a><br>
   
</body>
</html>