<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PTushacareer</title>
</head>
<body>
    <h1>PT-ushacareer</h1>
    <p>Usha was first noticed in 1977 by O. M. Nambiar, an athletics coach, at a <br>
        sports prize-distribution ceremony.[10] In an interview with Rediff.com<br> 
        in 2000, he recalled: "What impressed me at first sight about Usha was<br> 
        her lean shape and fast walking style. I knew she could become a very<br> 
        good sprinter."[11] The same year, he began coaching her. Quick results<br> 
        followed when she won six medals at the inter-state meet for juniors, in <br>
        Kollam in 1978, with four gold medals in 100 m, 200 m, 60 m hurdles and high <br>
        jump, silver in long jump and bronze in 4 x 100 m relay.[12] In the year's <br>
        Kerala State college meet, she won 14 medals.[11] She went on to win multiple <br>
        medals at the 1979 National Games and 1980 National inter-state meet setting<br> 
        many meet records.[13]</p>
    <img src="https://images.livemint.com/img/2021/08/12/original/140981-anudhahyno-1588851298_1628740464213.jpeg" style="width:500px"><br>
    <a href="{%url 'sports2:PTusha'%}">Navigate to PTusha</a><br>
    <a href="{%url  'sports1:Himadas'%}">Navigate to Himadas</a><br>
    <a href="{%url   'sports1:Himadascareer'%}">Navigate to Himadascareer</a>
</body>
</html>