<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PTusha</title>
</head>
<body>
    <h1>PT-usha</h1>
    <p>Pilavullakandi Thekkeraparambil Usha (born 27 June 1964) is a retired Indian track and<br> 
        field athlete. She was born in Kuthali, Kozhikode, Kerala. She has been associated with <br>
        Indian athletics since 1979.[6] She has won 4 Asian gold medals and 7 Silver medals. She<br> 
        is often associated as the "Queen of Indian track and field".[7] On 6 July 2022, she was <br>
        nominated to the Rajya Sabha by former President Ram Nath Kovind.[8] In December 2022, Usha<br>
         has been elected president of the Indian Olympic Association unopposed.[9] In Dec 2022, PT <br>
         Usha has been appointed to the panel of Rajyasabha vice chairman to control the proceedings <br>
         of the upper house during the absence of both Chairman & Deputy Chairman.She is the first nominated <br>
         MP in history to become the Vice Chairperson of Rajyasabha</p>
    <img src="https://images.livemint.com/img/2021/08/12/original/140981-anudhahyno-1588851298_1628740464213.jpeg"style="width:500px"><br>
    <a href="{%url 'sports2:PTushacareer'%}">Navigate to PTushacareer</a><br>
    <a href="{%url  'sports1:Himadas'%}">Navigate to Himadas</a><br>
    <a href="{%url   'sports1:Himadascareer'%}">Navigate to Himadascareer</a>
</body>
</html>